*.iml
.gradle
.kotlin/
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/decompiled_FYT_framework/framework.jar

# --- Build ---
app/build/
/app/fyt/
/app/phone/
/app/profile/
